

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --scroll-thumb: #cbd5e1; /* slate-300 */
  --scroll-thumb-hover: #94a3b8; /* slate-400 */
}

.dark {
  --scroll-thumb: #475569; /* slate-600 */
  --scroll-thumb-hover: #64748b; /* slate-500 */
}




/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
} */

